body {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
    width: 100%;
}

main {
    margin-bottom: 100px;
}

.mainvisual {
    margin-bottom: 80px;
}

.mainvisual img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.site_info {
    text-align: center;
    margin-bottom: 80px;
}

.site_info h1 {
    margin-bottom: 20px;
}

.recipe_images {
    display: flex;
    max-width: 100%;
    margin-bottom: 60px;
}
.recipe_images li {
    list-style: none;
    width: calc(100%/3);
}

.recipe_images li img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 834px) {
    .recipe_images {
        flex-direction: column;
    }
    .recipe_images li {
        width: 100%;
    }
    .recipe_images li img {
        display: block;
    }
}

.recipe_button {
    text-align: center;
}

.recipe_button a {
    border: solid 1px;
    padding: 20px 40px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 14px;
}

footer ul li a {
    color: inherit;
}
