body {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
}

.wrapper {
    display: flex;
    margin-bottom: 60px;
}

.mainvisual {
    width: 50%;
}

.mainvisual img {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.content {
    width: 50%;
    padding: 30px 5% 0 5%;
}

@media only screen and (max-width: 834px) {
    .wrapper {
        flex-direction: column;
    }
    .mainvisual {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    
}

.page_title {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.content_title {
    font-size: 1.25rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: solid 1px #c0c0c0;
}

.ingredient_list {
    display: flex;
    flex-wrap: wrap;
}

.ingredient_list dt {
    width: 70%;
    padding: 0.4em 0;
    border-bottom: dotted 1px #c0c0c0;
}

.ingredient_list dd {
    width: 30%;
    padding: 0.4em 0;
    border-bottom: dotted 1px #c0c0c0;
    text-align: right;
}

.step_list li {
    margin-left: 1em;
    padding: 0.4em 0;
    border-bottom: dotted 1px #c0c0c0;
}

.recipe_button {
    text-align: center;
    margin-bottom: 60px;
}

.recipe_button a {
    border: solid 1px;
    padding: 20px 40px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 14px;
}

footer ul li a {
    color: inherit;
}
